*
{
		margin:0;
		padding: 0;
		font-family: Century Gothics;
}
header
{
	background-image:url(../images/photobg.jpg);
	height: 80vh;
	background-size: cover;
	background-position: center;
}
ul
{
		float: right;
		list-style-type: none;
		margin-top: 25px;
}
ul li
{
	display: inline-block;
}
ul li a
{
	text-decoration: none;
	color:#fff;
	padding: 5px 20px;
	border:1px solid transparent;
	transition: 0.6s ease;
}
ul li a:hover
{
	background-color: #fff;
	color:black;
}
ul li.active a{
	background-color: 
}
.logo img
{
	margin-top: 10px;
	margin-left:0; 
	float: left;
	width: 120px;
	height: auto;
}
.main
{
	max-width: 1200px;
	margin:auto;
}
.footer 
{
	background: #303036;
	color: #d3d3d3;
	height: 170px;
	position: relative;
}
.footer .footer-bottom{
	background: $343a40;
	color:#686868;
	height: 50px;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding-top: 20px;
}
.social-media ul
{
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 0;
	margin: 0;
	transform: translate(-50%, -50%);
		display: flex;
	}
	.social-media ul li{
		list-style: none;
		margin: 0 15px;
	}
	.social-media ul li .fa{
		font-size: 30px;
		line-height: 60px;
		transition: 6%;
		color: #000;
	}
	.social-media ul li .fa:hover{
		color: #fff;

	}
	.social-media ul li a{
		position: relative;
		display: block;
		width:60px;
		height: 60px;
		border-radius: 50%;
		background-color: #fff;
		text-align: center;
		transition: .6%;
		box-shadow: 0 5px 4px rgba(0,0,0,.5);
	}
	.social-media ul li a:hover{
		transform:translate(0, -20px);
		color: black;
		background-color: black;
	}
	/*
	.social-menu ul li:nth-child(1) a:hover{
		background-color: #3b5999;
	}
	.social-menu ul li:nth-child(2) a:hover{
		background-color: black;
	}
	.social-menu ul li:nth-child(3) a:hover{
		background-color: #3b5999;
	}
	.social-menu ul li:nth-child(4) a:hover{
		background-color: #3b5999;
	}*/






